 * {
            margin: 0;
        }

        body {
            margin: 0;
            font-family: Helvetica;
        }

        main{
        }
        .container {
            width: 360px;
            margin: auto;
            padding: 20px;
        }

        .card {
            width: 300px;
            height: 400px;
            border-radius: 25px;
            margin: 45px auto;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.603);
            transition: box-shadow 0.5s;
        }

        .card:hover{
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.822);;
        }

        .card::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            display: block;
            top: 0;
            transition: background-color 0.5s;
            z-index: 0;
        }

        .card:hover::before {
            background-color: rgba(0, 0, 0, 0.425);
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bottom-buttons {
            width: 100%;
            position: absolute;
            bottom: -100px;
            text-align: center;
            display: flex;
            justify-content: center;
            transition: transform 0.5s;
            z-index: 2;
        }

        .link-btn,
        .download-btn,
        .more-btn {
            background: rgba(245, 245, 245, 0.87);
            padding: 10px;
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            border-radius: 30px;
            margin: 0 5px;
        }

        .card:hover .bottom-buttons {
            transform: translateY(-110px);
        }

        .link-btn {
            width: 140px;
        }

        .link-btn p i {
            margin-right: 10px;
        }

        .link-btn p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .download-btn,
        .more-btn {
            width: 25px;
            height: 25px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .save-btn {
            position: absolute;
            top: -100px;
            right: 15px;
            background-color: red;
            padding: 15px;
            border-radius: 30px;
            transition: transform 0.5s;
        }
        

        .card:hover .save-btn {
            transform: translateY(115px);
            
        }

        .save-btn p {
            color: white;
            font-weight: 600;
            font-size: 20px;
            z-index: 40;
        }

        .save-btn:hover, .download-btn:hover, .link-btn:hover, .more-btn:hover{
            cursor: pointer;
        }

        .pinterest-container{
            color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            gap: 10px;
            font-weight: 600;
            margin-top: 20px;
           
        }